
Tutorial04/StudentTalk.Rmd
Tutorial02/data/assessments.csv
Tutorial02/data/courses.csv
Tutorial02/data/studentAssessment.csv
Tutorial02/data/studentInfo.csv
Tutorial02/data/studentRegistration.csv
Tutorial02/data/studentVle.csv
Tutorial02/data/vle.csv
Tutorial03/DMDLCourses.xlsx
Tutorial03/Tutorial03/.Rhistory
